/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: unset;
}

@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/OpenSans-Regular.ttf');
}

/* Ensure body and html fill the viewport height */
html, body, button {
  height: 100%;
  font-family: 'OpenSans-Regular', sans-serif;
}

/* Flex container for sidebar and gallery/lightbox */
.container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

/* Sidebar styling */
.sidebar {
  width: 350px; /* Fixed width */
  min-width: 350px; /* Prevent sidebar from shrinking */
  background: #fff;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
}

/* Logo styles */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px; /* Space between logo and menu */
  text-align: right;
  line-height: 1;
  top: -4px;
  position: relative;
}

/* Menu styles */
.menu {
  align-self: flex-end; /* Align the menu to the bottom-right */
  display: flex;
  flex-direction: column;
  text-align: right; /* Align text to the right */
}

.menu a {
  text-decoration: none; /* Remove default underline */
  color: black; /* Default link color */
  margin-bottom: 20px; /* Space between menu items */
  font-size: 18px;
}

.menu a.active {
  text-decoration: underline; /* Underline active link */
}

.menu a:hover {
  color: grey; /* Change link color on hover */
}

/* Lightbox sidecar (navigation) */
#lightbox-sidecar {
  margin-top: auto; /* Push buttons to the bottom of the sidebar */
}

#lightbox-navigation {
  display: flex;
  justify-content: space-between; /* Space buttons evenly across */
}

#lightbox-title {
  text-align: center; /* Center the title text */
}

/* Button styling */
button {
  font-size: 30px;
  cursor: pointer;
  background: none;
  color: #000;
  border: none;
  padding: 15px 0 15px 15px;
}

#return-gallery-btn {
  padding: 15px;
}

button:hover {
  color: grey; /* Change button text color on hover */
}

/* Gallery styling */
.gallery {
  flex: 1; /* Take up remaining space after sidebar */
  display: flex;
  align-items: flex-start; /* Align thumbnails to the top */
  overflow-y: auto; /* Allow vertical scrolling if thumbnails overflow */
}

/* Thumbnails container styling */
.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px; /* Space between thumbnails */
  justify-content: center; /* Center thumbnails in the gallery */
  padding: 40px 20px; /* Padding for gallery */
  width: 100%; /* Fill available width */
}

/* Thumbnail styles */
.thumbnail {
  overflow: hidden; /* Ensure images do not overflow their container */
  aspect-ratio: 3 / 2; /* Maintain 4:3 aspect ratio */
  transition: opacity 0.2s ease; /* Smooth opacity transition on hover */
  background: #c4c4c4; /* Placeholder */
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the thumbnail without distortion */
}

/* Hover effect for thumbnails */
.thumbnail:hover {
  opacity: .9; /* Slightly reduce opacity on hover */
  cursor: pointer;
}

/* Lightbox container styling */
.lightbox {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  cursor: alias; /* Change cursor when hovering */
}

/* Lightbox image styling */
.lightbox-image {
  max-height: calc(100vh - 70px); /* Ensure 50px margin on top and bottom */
  max-width: calc(100vw - 400px); /* Ensure image fits with space for sidebar and margin */
  object-fit: contain; /* Ensure the image fits without distortion */
  cursor: default;
}

/* Hidden class to hide elements */
.hidden {
  display: none !important;
}

/* Content block styling */
.content {
  margin: 50px 20px;
  max-width: 950px;
}

/* General text styles */
h1 {
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
  text-align: justify;
}

/* Link styles */
a, a:visited {
  color: #000;
}

/* Image in about section */
.about-image img {
  float: right; /* Float the image to the right of the text */
  margin: 0 0 20px 20px; /* Space between the image and the text */
  width: 20vw; /* Image takes 20% of the viewport width */
  max-width: 300px; /* Limit maximum size for larger screens */
  min-width: 150px; /* Ensure a minimum size for smaller screens */
  height: auto; /* Maintain aspect ratio */
}

.contact-line {
  display: flex;
  align-items: center; /* Align items vertically */
  gap: 20px; /* Optional: space between text and icon */
}

.contact-line a {
  font-size: 20px;
}

.contact-line svg {
  vertical-align: middle;
  width: 100px;
}

@media screen and (max-width: 950px) {

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: unset;
    min-width: unset;
    padding: 0;
  }

  .menu-icon {
    font-size: 50px;
    cursor: pointer;
  }

  .menu-icon.open::after {
    content: '×'; /* X for unfolded menu */
  }

  .menu-icon::after {
    content: '+'; /* Menu icon */
  }

  .menu {
    display: none;
    align-self: center;
    text-align: center;
  }

  .menu a {
    font-size: 25px;
  }

  .menu.open {
    display: flex; /* Show sidebar when menu is open */
  }

  .logo {
    font-size: 18px;
    margin-bottom: 0;
    position: unset;
  }

  .gallery {
    flex-direction: column;
  }

  .thumbnails {
    gap: 15px;
    padding: 0px 15px;
  }

  .thumbnail {
    margin: 0;
    max-width: 100%;
    aspect-ratio: unset;
  }

  .thumbnail:hover {
      opacity: 1;
      cursor: unset;
    }

   .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}


