<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <script src="{{ '/assets/script.js' | relative_url }}"></script>
  {% if page.lightbox %}
    <script src="{{ '/assets/lightbox.js' | relative_url }}"></script>
  {% endif %}
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">SYLVESTER STAPFER</div>
      <nav class="menu">
        <a href="{{ '/' | relative_url }}">
          <span class="lang-en">Portfolio</span>
          <span class="lang-fr">Portefeuille</span>
        </a>
        <a href="{{ '/about/' | relative_url }}">
          <span class="lang-en">About</span>
          <span class="lang-fr">À propos</span>
        </a>
        <a href="{{ '/contact/' | relative_url }}">
          <span class="lang-en">Contact</span>
          <span class="lang-fr">Contact</span>
        </a>
      </nav>
      <div id="lightbox-sidecar" class="hidden">
         <p id="lightbox-title"></p>
        <div id="lightbox-navigation">
          <button id="prev-btn">◄</button>
          <button id="return-gallery-btn">■</button>
          <button id="next-btn">►</button>
        </div>
      </div>
    </aside>
    {{ content  }}
  </div>
</body>
</html>
