<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.full-title %} {{ page.full-title }} {% else %} {{ page.title }} | {{ site.title }} {% endif %}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <script src="{{ '/assets/script.js' | relative_url }}"></script>
  {% if page.lightbox %}
    <script src="{{ '/assets/lightbox.js' | relative_url }}"></script>
  {% endif %}
</head>
<body>
  <div class="container">

    <aside class="sidebar">

  <div class="header-row">
        <div class="menu-icon"></div>

    <div class="logo">SYLVESTER STAPFER</div>
  </div>


<nav class="menu">
  <a href="{{ '/' | relative_url }}" class="{% if page.url == '/' %}active{% endif %}">
    Portfolio
  </a>
  
  <a href="{{ '/about' | relative_url }}" class="{% if page.url == '/about' %}active{% endif %}">
    À propos
  </a>
  
  <a href="{{ '/contact' | relative_url }}" class="{% if page.url == '/contact' %}active{% endif %}">
    Contact
  </a>
</nav>
      <div id="lightbox-sidecar" class="hidden">
         <p id="lightbox-title"></p>
        <div id="lightbox-navigation">
          <button id="prev-btn">◄</button>
          <button id="return-gallery-btn">░</button>
          <button id="next-btn">►</button>
        </div>
      </div>
    </aside>
    {{ content  }}
  </div>
</body>
</html>
